@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply bg-amber-300 px-2 py-0.5 rounded-sm shadow-xl text-black text-sm font-bold border-2 border-gray-700 hover:bg-amber-400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button.lowkey {
  @apply bg-transparent border-0 text-white text-lg hover:bg-emerald-500;
}
